################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DarknessUnbound/FileContentIndex
/.vs/DarknessUnbound/v18
